.why-choose-us {
  padding: 50px 10%;
  background: linear-gradient(to right, #0d72e5, #69600c);
  color: white;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.section-title {
  font-size: 2rem;
  color: #f0d906;
  margin-bottom: 20px;
  letter-spacing: 1px;
  padding: 10px;
}

.choose-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding: 20px;
}

.choose-item {
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.choose-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.2);
}

.choose-item h3 {
  font-size: 1.3rem;
  color: #f0d906;
  margin-bottom: 10px;
}

.choose-item p {
  font-size: 1rem;
  color: #ddd;
}

@media (max-width: 768px) {
  .choose-wrapper {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
